# Dependencies
node_modules/
.wrangler/

# Environment & OS
.DS_Store
Thumbs.db
*.tmp
*.log
*.zip

# Raw local uploads
assets/images/New folder*/

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
